@model Dish
@{
    string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle;
}

<style>
    button{
        color: #000 !important;
    }
</style>

<script src="https://cdn.tiny.cloud/1/mb85kxtsc4oiknkstnihv9iqf01r1cw1d0w597fvsj47bk6a/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="" asp-controller="Admin" asp-action="DishesEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Photo"/>
            
            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <select asp-for="DishCategoryId">
                    <option value="">Выберите из списка...</option>
                    @foreach (DishCategory entity in ViewBag.DishCategories)
                    {
                        <option value="@entity.Id">@entity.Name</option>
                    }
                </select>
                <span asp-validation-for="DishCategoryId"></span>
            </div>
            <div class="div-box">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="div-box">
                <label asp-for="Price"></label>
                <input asp-for="Price">
                <span asp-validation-for="Price"></span>
            </div>
            <div class="div-box">
                <label asp-for="Weight"></label>
                <input asp-for="Weight">
                <span asp-validation-for="Weight"></span>
            </div>
            <div class="div-box">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="div-box">
                <label asp-for="Photo"></label>
                <input type="file" name="titleImageFile" id="titleImageFile"/>
                <div>
                    <img class="img-block" src="~/img/@Model.Photo"/>
                </div>
            </div>
            <div class="div-box">
                <select multiple="multiple" asp-for="ToppingsIds">
                    <option value="-1">Выберите из списка...</option>
                    @foreach (Topping entity in ViewBag.Toppings)
                    {
                        <option value="@entity.Id" id="option-@entity.Id">
                            @entity.Name
                        </option>
                    }
                </select>
            </div>
            <input type="submit" value="Сохранить"/>
        </form>
    </div>
</div>
<script>
    tinymce.init({
      selector: 'textarea',
      language: 'ru',
      onboarding: false,
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      automatic_uploads: true,
      images_upload_url: '/admin/SaveEditorImg',
      images_reuse_filename: false,
      image_dimensions: false,
      paste_data_images: true,
      convert_urls: false
    });
</script>