@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
    IEnumerable<DishCategory>? dishCategories = ViewBag.DishCategories;
    IEnumerable<Dish>? dishes = ViewBag.Dishes;
    IEnumerable<Topping>? toppings = ViewBag.Toppings;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Категории блюд</h3>
        <div class="div-box">
            <a asp-area="" asp-controller="Admin" asp-action="DishCategoriesEdit" asp-route-id="">Добавить категорию блюд</a>
        </div>
        @if (dishCategories.Any())
        {
            <div>
                @foreach (var entity in dishCategories)
                {
                    <div>
                        <span>
                            @($"{entity.Name}")
                        </span>
                        |
                        <a asp-area="" asp-controller="Admin" asp-action="DishCategoriesEdit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-category-@entity.Id" asp-area=""
                              asp-controller="Admin" asp-action="DishCategoriesDelete" method="post">
                            <input type="hidden" name="id" value="@entity.Id"/>
                            <a href="#" onclick="document.getElementById('form-category-@entity.Id').submit();">Удалить</a>
                        </form>

                    </div>
                }
            </div>
        }
    </div>
    <div>
        <h3>Меню</h3>
        <div class="div-box">
            <a asp-area="" asp-controller="Admin" asp-action="DishesEdit" asp-route-id="">Добавить блюдо</a>
        </div>
        @if (dishes.Any())
        {
            <div>
                @foreach (var entity in dishes)
                {
                    <div>
                        <span>
                            <a asp-area="" asp-controller="Dishes" asp-action="Show" asp-route-id="@entity.Id">
                                @($"{entity.Name}")
                            </a>
                            |
                            @($"{entity.DishCategory?.Name}") 
                        </span>
                        |
                        <a asp-area="" asp-controller="Admin" asp-action="DishesEdit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area=""
                              asp-controller="Admin" asp-action="DishesDelete" method="post">
                            <input type="hidden" name="id" value="@entity.Id" />
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                        </form>

                    </div>
                }
            </div>
        }
    </div>
    <div>
        <h3>Добавки</h3>
        <div class="div-box">
            <a asp-area="" asp-controller="Admin" asp-action="ToppingsEdit" asp-route-id="">Добавить Добавки</a>
        </div>
        @if (toppings.Any())
        {
            <div>
                @foreach (var entity in toppings)
                {
                    <div>
                        <span>
                            @($"{entity.Name}")
                        </span>
                        |
                        <a asp-area="" asp-controller="Admin" asp-action="ToppingsEdit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-category-@entity.Id" asp-area=""
                              asp-controller="Admin" asp-action="ToppingsDelete" method="post">
                            <input type="hidden" name="id" value="@entity.Id" />
                            <a href="#" onclick="document.getElementById('form-category-@entity.Id').submit();">Удалить</a>
                        </form>

                    </div>
                }
            </div>
        }
    </div>
    
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти"/>
        </form>
    </div>
</div>
